* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e7e1e2; }
  body .container-index header .logo_principal {
    width: 20%; }
  body .container-index header .navbar-brand {
    font-size: 2rem;
    font-family: 'Qwigley', cursive;
    gap: 2rem; }
