
body{
    background-color: rgb(231, 225, 226);
     .container-index{

        header{
           // width:100%;
            //height: 100px;
            //background-color: rgb(234, 218, 221);
            .logo_principal{
                width:20%;
            }
            .navbar-brand{
                font-size: 2rem;
                font-family: 'Qwigley', cursive;
                gap: 2rem;
            }
        }
    }
}

